@charset "utf-8";
body {
    background: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title {
    font-family: Helvetica;
    font-weight: normal;
    color: #999;
    border-radius: 20px;
    border: 0;
    display: block;
    outline: none;
}

.apilink {
    font-family: Helvetica;
    font-weight: normal;
    color: #999;
    border-radius: 20px;
    border: 0;
    display: block;
    outline: none;
}

.form {
    margin: 10% auto;
    background: #EEE;
    box-shadow: -8px -8px 16px -10px rgba(255, 255, 255, 1), 8px 8px 16px -10px rgba(0, 0, 0, .15);
    padding: 24px;
    border-radius: 20px;
    color: #7F7F7F;
    text-align: center;
    -moz-column-gap: 40px;
    /* Firefox */
    -webkit-column-gap: 40px;
    /* Safari å’Œ Chrome */
    column-gap: 40px;
}

.submit {
    margin: 0px auto;
    padding: 15px;
    border-radius: 20px;
    border: 0;
    display: block;
    outline: none;
    font-size: 20px;
    font-family: Helvetica;
    font-weight: normal;
    color: #999;
    background: linear-gradient(135deg, rgba(230, 230, 230, 1) 0%, rgba(246, 246, 246, 1) 100%);
    box-shadow: -4px -4px 10px -8px rgba(255, 255, 255, 1), 4px 4px 10px -8px rgba(0, 0, 0, .3);
}

.submit:active {
    box-shadow: -4px -4px 10px -8px rgba(255, 255, 255, 1) inset, 4px 4px 10px -8px rgba(0, 0, 0, .3) inset;
}

.panel {
    display: none;
    margin: 0px auto;
    padding: 15px 0px 0px;
}

.hid {
    display: none;
}

input {
    background: #EEE
}

.themeswitch {
    font-family: Helvetica;
    font-weight: normal;
    color: #999;
    border-radius: 20px;
    border: 0;
    display: block;
    outline: none;
}

.mask {
    z-index: 900;
    position: fixed!important;
    left: 0px;
    top: 0px;
    background: #EEE;
    opacity: 0;
    animation: open 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes open {
    0% {
        opacity: 1;
        width: 100%;
        height: 100%;
    }
    99% {
        opacity: 0;
        width: 100%;
        height: 100%;
    }
    100% {
        opacity: 0;
        width: 0%;
        height: 0%;
    }
}